{% extends 'clients/base.html' %}
{% block title %}
    Client Deposits : {{ client.pk }} :: {{ block.super }}
{% endblock %}
{% block content %}
    <h1 class="container-fluid mt-4">Client Deposits : {{ client.last_name }} {{ client.first_name }}</h1>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_list' %}">
                    <strong>Clients List</strong>
                </a>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_credits' pk=client.pk %}">
                    <strong>Show Client Credits</strong>
                </a>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_accounts' pk=client.pk %}">
                    <strong>Show Client Accounts</strong>
                </a>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_deposits_create' pk=client.pk %}">
                    <strong>Open New Deposit</strong>
                </a>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_close_period' pk=client.pk period='day' page='deposits '%}">
                    <strong>Close Day</strong>
                </a>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_close_period' pk=client.pk period='month' page='deposits' %}">
                    <strong>Close Month</strong>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Client</th>
                <th>Revocable</th>
                <th>Number</th>
                <th>Currency</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Amount</th>
                <th>Percents</th>
                <th>Main Balance</th>
                <th>Percents Balance</th>
                <th>Active</th>
                <th>Days Left</th>
                <th>Withdraw Main</th>
                <th>Withdraw Percents</th>
            </tr>
            {% for deposit in deposits %}
                <tr>
                    <td>{{ deposit.id }}</td>
                    <td>
                        <a href="{% url 'clients_details' pk=client.id %}" class="link-dark text-decoration-none">
                            {{ deposit.client.last_name }} {{ deposit.client.first_name }}
                        </a>
                    </td>
                    <td>{{ deposit.revocable }}</td>
                    <td>{{ deposit.number }}</td>
                    <td>{{ deposit.currency }}</td>
                    <td>{{ deposit.start_date | date:"d-m-Y" }}</td>
                    <td>{{ deposit.end_date | date:"d-m-Y" }}</td>
                    <td>{{ deposit.amount }}</td>
                    <td>{{ deposit.percents }}</td>
                    <td>{{ deposit.main_account.balance }}</td>
                    <td>{{ deposit.percent_account.balance }}</td>
                    <td>{{ deposit.active }}</td>
                    <td>{{ deposit.days_left }}</td>
                    <td>
                        {% if deposit.active and deposit.revocable or not deposit.active %}
                        <a role="button" class="btn btn-md btn-outline-dark form-control"
                           href="{% url 'clients_deposits_withdraw' pk=client.pk account_id=deposit.main_account.id %}">
                            <strong>Withdraw Deposit</strong>
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if deposit.active and not deposit.revocable or not deposit.active %}
                        <a role="button" class="btn btn-md btn-outline-dark form-control"
                           href="{% url 'clients_deposits_withdraw' pk=client.pk account_id=deposit.percent_account.id %}">
                            <strong>Withdraw Percents</strong>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}