{% extends 'clients/base.html' %}
{% block title %}
    Client Credits : {{ client.pk }} :: {{ block.super }}
{% endblock %}
{% block content %}
    <h1 class="container-fluid mt-4">Client Credits : {{ client.last_name }} {{ client.first_name }}</h1>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_list' %}">
                    <strong>Clients List</strong>
                </a>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_deposits' pk=client.pk %}">
                    <strong>Show Client Deposits</strong>
                </a>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_accounts' pk=client.pk %}">
                    <strong>Show Client Accounts</strong>
                </a>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_credits_create' pk=client.pk %}">
                    <strong>Open New Credit</strong>
                </a>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_close_period' pk=client.pk period='day' page='credits' %}">
                    <strong>Close Day</strong>
                </a>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-lg btn-outline-dark form-control"
                   href="{% url 'clients_close_period' pk=client.pk period='month' page='credits' %}">
                    <strong>Close Month</strong>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Client</th>
                <th>Annuity</th>
                <th>Number</th>
                <th>Currency</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Amount</th>
                <th>Percents</th>
                <th>Main Balance</th>
                <th>Percents Balance</th>
                <th>Active</th>
                <th>Days Left</th>
                <th>Amount Paid</th>
                <th>Deposit Credit</th>
                <th>Deposit Percents</th>
            </tr>
            {% for credit in credits %}
                <tr>
                    <td>{{ credit.id }}</td>
                    <td>
                        <a href="{% url 'clients_details' pk=client.id %}" class="link-dark text-decoration-none">
                            {{ credit.client.last_name }} {{ credit.client.first_name }}
                        </a>
                    </td>
                    <td>{{ credit.annuity }}</td>
                    <td>{{ credit.number }}</td>
                    <td>{{ credit.currency }}</td>
                    <td>{{ credit.start_date | date:"d-m-Y" }}</td>
                    <td>{{ credit.end_date | date:"d-m-Y" }}</td>
                    <td>{{ credit.amount }}</td>
                    <td>{{ credit.percents }}</td>
                    <td>{{ credit.main_account.balance }}</td>
                    <td>{{ credit.percent_account.balance }}</td>
                    <td>{{ credit.active }}</td>
                    <td>{{ credit.days_left }}</td>
                    <td>{{ credit.amount_paid }}</td>
                    <td>
                        {% if credit.annuity and credit.active or not credit.active %}
                        <a role="button" class="btn btn-md btn-outline-dark form-control"
                           href="{% url 'clients_credits_deposit' pk=client.pk account_id=credit.main_account.id  credit_id=credit.pk %}">
                            <strong>Deposit Credit</strong>
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        <a role="button" class="btn btn-md btn-outline-dark form-control"
                           href="{% url 'clients_credits_deposit' pk=client.pk account_id=credit.percent_account.id credit_id=credit.pk %}">
                            <strong>Deposit Percents</strong>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}